@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: #dfd3cc;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  color: #4F3840;
  font-weight: bold;
}

nav {
  background-color: #4F3840;
}

.nav-link {
  color: #A6988E;
}

.card, .form-group {
  box-shadow: 0 4px 8px 0  #564E30;
  text-align: center;
}

#trackBtn {
  background-color: #4F3840;
  color: #A6988E;
}

#status-container {
  background-color: #cebf8a;
  height: 550px;
  overflow-y: scroll;
}
